.wrap{
    width: 100%;
    min-width: 850px;
    font-size: 1em;
    font-weight: 400;
    background: #fff;
    padding: 15px;
}

.wrap h1{
    margin: 0;
    padding: 0;
    color: rgb(68, 68, 68);
}

.wrap p{
    margin-top: 15px;
    padding: 0;
}

.default__img{
    width: 100%;
    height: 70%;
}

.default__img img{
    width: 100%;
    height: 100%;
}